body {
	font-family: Verdana;
}

h1 {
	text-align: center;
	color: #187bcd;
}

h2 {
	padding: 0px 50px;
	text-align: center;
	font-size: 20px;
	color: #A91B0D;
}

button {
	background-color: #187bcd;
	border-radius: 8px;
	border: none;
	color: white;
	font-size: 20px;
	margin: 5px;
	padding: 15px 30px;
}

button:hover {
  background-color: #03254c;
}