@import url('https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+Antique:400,600');

header {
	position: absolute;
	top: 0%;
	width: 100%;
	font-weight: 500;
}

h2 {
	position: relative;
	font-size: 20px;
	padding: 0;
}

body {
	margin: 0;
  	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.food {
	width: 200;
	height: 150;
}

.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

}

.bg {
	background-image: url(bg.jpg);
	background-size: cover;
	background-position:  right;
	width: 100%;
	height: 100%;
}

.hypo {
	text-decoration: none;
	color: #FFFF00;
}

nav {
	background: rgba(0, 0, 0, 0.7);
	height:  60px;
}

nav ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
}

nav li {
  	display: inline-block;
  	margin-left: 60px;
  	padding-top: 20px;

  	position: relative;
}

nav a {
	color:  #FFF;
	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 14px;
}

footer p a {
	color:  #888;
	text-decoration: none;
  font-size: 14px;
}

footer {
  color: #FFF;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5 px;
  text-align: center;
}