@import url('https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+Antique:400,600');

body {
	margin: 0;
  	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-weight: 500;
}

/*#companyname {
	font-weight: 800;
	font-size: 1000 px;
	text-align:  center;
	vertical-align: middle;
}*/

.bg {
	background-image: url(commercial.jpg);
	background-size: cover;
	background-position:  right;
	width: 100%;
	height: 100%;
}

nav {
	background: rgba(0, 0, 0, 0.7);
	height:  60px;
}

nav ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
}

nav li {
  	display: inline-block;
  	margin-left: 60px;
  	padding-top: 20px;

  	position: relative;
}

nav a {
	color:  #FFF;
	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 14px;
}

footer p a {
	color:  #888;
	text-decoration: none;
  	font-size: 14px;
}

#comment {
	height:  900 px;
}